@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	background-color: #e7dfd9;
	margin: 0px;
}
.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: "Protest Revolution", sans-serif;
	font-size: 36px;
}
h2 {
	font-size: 18px;
	color: #6F2400;
}
.anakutu {
	width: 80%;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
a.menu {
	font-family: "Protest Revolution", cursive;
	color: #534235;
	text-decoration: none;
	width: 20%;
	display: block;
	height: 35px;
	float: left;
	text-align: center;
	padding-top: 15px;
}
a.menu:hover {
	width: 19%;
	border-top-width: 1px;
	border-right-width: 0.4%;
	border-bottom-width: 1px;
	border-left-width: 0.4px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #413329;
	border-right-color: #413329;
	border-bottom-color: #413329;
	border-left-color: #413329;
	height: 35px;
	padding-top: 13px;
}
.icerik_metin {
	float: left;
	width: 58%;
	overflow: auto;
	margin-top: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-left: 1%;
}
.icerik_resim {
	float: left;
	width: 38%;
	overflow: auto;
	margin-top: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-left: 1%;
}


.icerik {
	float: left;
	height: auto;
	width: 99.6%;
	border: 1px solid #413329;
	overflow: auto;
	margin-top: 50px;
}
