@charset "utf-8";
/* CSS Document */

body {
	background-color: #333;
	margin-top: 75px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.root {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
.bkutu {
	background-color: #09F;
	float: left;
	height: 410px;
	width: 71%;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1%;
	margin-left: 1%;
	padding-top: 10px;
	padding-right: 1%;
	padding-bottom: 10px;
	padding-left: 1%;
}
.kkutu {
	background-color: #CC0;
	float: left;
	height: 185px;
	width: 21%;
	border-radius: 15px;
	margin-top: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-left: 1%;
	padding-top: 10px;
	padding-right: 1%;
	padding-bottom: 10px;
	padding-left: 1%;
}
.turuncu{
	background-color:#F60;
}
.mor{
	background-color:#63C;
	}
.pembe{
	background-color:#F09;
	}
.yesil {
	background-color:#360;
}
.kirmizi{
	background-color:#900;
}
